.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  padding: 64px
}

.modal-button {
  color: black;
  margin: 8px 0;
  width: 100%;
}
