button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 500px;
  box-shadow: inset 0 0 0 2px #616467;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 2px;
  line-height: 1;
  min-width: 160px;
  outline: none;
  padding: 16px 14px 18px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .3s;
  transition-property: background-color,border-color,color,box-shadow,filter;
  white-space: normal;
}

button:hover {
  background-color: #616467;
  color: white;
}

table {
  background: white;
  border-collapse: collapse;
  color: #333;
  font-size: 12px;
  margin-bottom: 32px;
  width: 80vw;
}

table thead th {
  color: black;
  background-color: lightgray;
  font-size: large;
  padding: 24px;
}

table th,
table td {
  padding: 8px;
  border: 1px solid lightgrey;
}

svg {
  height: 20px;
  padding: 0 8px;
  width: auto;
}

svg:hover {
  cursor: pointer;
}

.width-50 {
  width: 50px;
}
